{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="my-auto mx-auto">
                <h1 class="display-4 logo-font text-black">
                    Start your adventure today 
                </h1>
                <div class="my-5">
                                <div class="col-12 col-lg-12 my-auto py-1 py-lg-0">
                <form method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Explore more adventures">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Top Adventures Section -->
    <section id="about" class="about-section text-center bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Top Adventures</h2>
                    <p class="text-white-50">SpaceX is the first travel agency that will fly you to space. This is not
                        science fiction, this is technology and innovation meeting reality. In close collaboration with all
                        major aerospace agencies in the world, we are able to coordinate various types of trips to space.
                    </p>
                </div>
            </div>
            <img src="{% static 'img/nasa-eva.png' %}" class="img-fluid" alt="Nasa Astronaut">
        </div>
    </section>

    

       <!-- Adventure  Reviews -->
    <section id="about" class="about-section text-center bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Reviews</h2>
                    <p class="text-white-50">SpaceX is the first travel agency that will fly you to space. This is not
                        science fiction, this is technology and innovation meeting reality. In close collaboration with all
                        major aerospace agencies in the world, we are able to coordinate various types of trips to space.
                    </p>
                </div>
            </div>
            <img src="{% static 'img/nasa-eva.png' %}" class="img-fluid" alt="Nasa Astronaut">
        </div>
    </section>

       <!-- About Section -->
    <section id="about" class="about-section text-center bg-success">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Destinations</h2>
                    <p class="text-white-50">SpaceX is the first travel agency that will fly you to space. This is not
                        science fiction, this is technology and innovation meeting reality. In close collaboration with all
                        major aerospace agencies in the world, we are able to coordinate various types of trips to space.
                    </p>
                </div>
            </div>
            <img src="{% static 'img/nasa-eva.png' %}" class="img-fluid" alt="Nasa Astronaut">
        </div>
    </section>
       <!-- About Section -->
    <section id="about" class="about-section text-center bg-danger">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">about us and contact form</h2>
                    <p class="text-white-50">SpaceX is the first travel agency that will fly you to space. This is not
                        science fiction, this is technology and innovation meeting reality. In close collaboration with all
                        major aerospace agencies in the world, we are able to coordinate various types of trips to space.
                    </p>
                </div>
            </div>
            <img src="{% static 'img/nasa-eva.png' %}" class="img-fluid" alt="Nasa Astronaut">
        </div>
        <div class="row">
  <!-- About us -->
  <section  class=" col-md-6 py-5 ">
    <div class="container container2 text-center">
      <h2 class="text-dark">About Us</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-sm-9 text">
          <p class="lead">Tour Retreat born with the idea of bringing people to great places.</p>
          <p>With ten year of experience, Tour Retreat have changed the life of thousands of people. Helping them with the best choice to travel around the globe and retreat. </p>
        </div>
      </div>
    </div>
  </section>
  <!--/ About us -->

  <!-- contact form -->
    <div class="col-md-5 card card-body card-padding-bottom shadow" data-aos="zoom-out">
          {% if new_contact %}
          <div class="alert alert-success" role="alert">
            Our team will contact you as soon as possible.
          </div>
            {% else %}

          <div class=" my-1">
            <h5>Get in touch:</h5>

                  <div class="form-group">
              <form method="POST">
                  {% csrf_token %}
                  {{ contact_form.as_p}}
                <button type="submit" class="btn btn-info">Submit</button>
              </form>
              </div>

            </div>
             {% endif %}
          </div>
      <!--/ contact form -->
  </div>

    </section>





{% endblock %}

