{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                {% include 'includes/main-header.html' %}
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <section class="page-section" id="testimonial">
    <div class="row bg-light skew1">
        <!-- Testimonials -->
        <!-- https://mdbootstrap.com/snippets/jquery/marta-szymanska/1301459 -->
        <!-- https://startbootstrap.com/previews/agency -->
        <div id="testimonial skew2" class="testimonial skew2 container-fluid">
                <section class="team-section text-center">
                    <h1 class="font-weight-bold testimonials text-dark">Latest Adventure Reviews</h1>
                    <div class="row text-center">
                        <!-- Testimonial 1-->
                        <div class="col-md-4 mb-md-0 mb-5" data-aos="fade-up" data-aos-duration="1000">
                            <div class="testimonial">
                                <div class="avatar mx-auto">
                                    <img src="{% static 'images/person1.jpg' %}" class="rounded-circle z-depth-1 img-fluid alter_img" alt="gym-member2g">
                                </div>
                                <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
                                <p class="font-weight-normal dark-grey-text">
                                    <i class="fa fa-quote-left pr-2"></i>Tour Project was a life changing for me. I had the opportunity to visit different places in Thailand and meet one of the harm and best people I ever seen.</p>
                                <div class="orange-text">
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fas fa-star-half-alt"> </i>
                                </div>
                            </div>
                        </div>
                        <!--/ Testimonial 1-->
                        <!-- Testimonial 2-->
                        <div class="col-md-4 mb-md-0 mb-5" data-aos="fade-up" data-aos-duration="1100">
                            <div class="testimonial">
                                <div class="avatar mx-auto">
                                    <img src="{% static 'images/person2.jpg' %}" class="rounded-circle z-depth-1 img-fluid alter_img" alt="trainer">
                                </div>

                                <h4 class="font-weight-bold dark-grey-text mt-4">Larry Parker</h4>
                                <!-- <h6 class="font-weight-bold blue-text my-3">Personal Trainer</h6> -->
                                <p class="font-weight-normal dark-grey-text">
                                    <i class="fa fa-quote-left pr-2"></i>Last year I went to Mexico and it was without any doubt the best place I ever visited. From yoga classes to spars and the food, everything were beyond I thought in terms of experince.</p>
                                <div class="orange-text">
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                </div>
                            </div>
                        </div>
                        <!--/ Testimonial 2-->
                        <!-- Testimonial 3-->
                        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1200">
                            <div class="testimonial">
                                <div class="avatar mx-auto">
                                    <img src="{% static 'images/person3.jpg' %}" class="rounded-circle z-depth-1 img-fluid alter_img" alt="gym-member">
                                </div>
                                <h4 class="font-weight-bold dark-grey-text mt-4">Kay Garland</h4>
                                <p class="font-weight-normal dark-grey-text">
                                    <i class="fa fa-quote-left pr-2"></i>You will be delighted by doing one of the Tour Project retreats. At the begin of 2019 I traveled to Rio de Janeiro in Brazil and did kite-surfing classes too. I loved it!</p>
                                <div class="orange-text">
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                    <i class="fa fa-star"> </i>
                                </div>
                            </div>
                        </div>
                        <!--/ Testimonial 3-->
                    </div>
                </section>
            </div>
        <!--/ Testinonials -->
    </div>
    </section>
  
         <!-- Contact 2-->
    <section class="page-section" id="contact">
            <div class="container">
                 <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+1 (555) 902-8832</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button to trips -->
        <div class="text-center mt-5 mb-5">
            <a href="" class="btn btn-primary">Contact Us</a>
        </div>
        </section>
    
        


         <!-- Map-->
           <!-- Map -->
  <div id="contact" class="map">
    <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </div>





{% endblock %}

