html {
    height: 100%;
}


body {
    height: calc(100vh - 200px);
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem;
}

a {
    color: #B7A986;
    text-decoration: none;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #B7A986;
    border-color: #B7A986;
}

.btn-primary:hover {
    color: #B7A986;
    background-color: #fff;
    border-color: #B7A986;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #B7A986;
    border-color: #B7A986;
}

/*  -------------------------------------- home.html */


/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
    pointer-events: none;
    height: 100%;
    width: 100%;
    border: 0;
}
/*  -------------------------------------- home.html */
body#page-top {
    height: 90%;
}

/* -------------------------------Home - testimonial      */
.img-fluid.alter_img {
  max-width: 100%;
  height: 200px;
}

/* testimonial stars */
.orange-text .fa-star, .fa-star-half-alt {
  color: orange;
}

/* skewed container home page */
.z-depth-1, .card.gradient-card:focus-within .card-image {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/* testimonial subtitle */
p.dark-grey-text.w-responsive.mx-auto.mb-5.subtitle {
  width: 40%;
}

.testimonial p {
 width: 70%;
 margin-left: 60px;
}

.row.skew1 {
  transform-origin: left top;
  transform: skewY(-4deg);
  z-index: -2;
  margin-top: 100px;
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #6b47b3 100%);
}

.testimonial.skew2.container-fluid {
  transform-origin: left top;
  transform: skewY(4deg);
  padding-bottom: 700px;
  width: 100%;
  height: 200px;
}

h1.font-weight-bold.testimonials {
  margin-bottom: 3rem !important;
}

textarea.form-control {
  height: 5rem;
  /* changes resize to scroll */
  resize: none;
}


/*  -------------------------------------- Contact section home.html */
.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
  color: #e9ecef!important;
}
section#contact {
  background-color: #845f03;
  background-image: url('/media/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

.text-primary {
    color: #B7A986 !important;
}

.contact-section .card hr {
    border-color: #B7A986;
    border-width: 0.25rem;
    width: 3rem !important;
}
.my-4 {
    margin-bottom: 1.5rem!important;
    border-color: #B7A986;
    border-width: 0.25rem;
    width: 3rem;
}

/*  -------------------------------------- adventures.html */

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.adventurehr {
    border-color: #B7A986;
    border-width: 0.25rem;
    width: 50rem !important;
}
/*  -------------------------------------- bag.html */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #fff;
}

.container.bag-containter {
    max-width: 80%;
}

/*  -------------------------------------- search */

.search-form {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #fff;
}

/*  -------------------------------------- blog */

.card.flex-row.flex-wrap {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blog-container {
    max-width: 80%;
    margin: auto;
}

.container.blog-intro {
    text-align: center;
    vertical-align: middle !important;
    color: white;
    background-color: #b7a981;
    height: 5em;
    padding-top: 1.2rem;
}
/*  -------------------------------------- about */

.projects-section {
    max-width: 60%;
    margin: auto;
    margin-top: 2rem;
}

.project-text.w-100.my-auto.text-center.text-lg-left {
    padding: 5rem;
}

.projects-section .project-text hr {
    border-color: #b7a981;
    border-width: 0.25rem;
    width: 30%;
}

/*  -------------------------------------- contact */
.submit-button {
    text-align: center;
}


/*  -------------------------------------- navbar */

img.nav_logo{
    width:4rem;
}

img.nav_logo_mobile{
    width:4rem;
    display:none;
}



/* Bootstrapious bellow https://bootstrapious.com/p/transparent-navbar << */
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

/* To fix BRAND - color */
.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll  */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

.btn.btn-info.rounded.py-2.btn-block {
  margin-top: 25px;
}

/* Bootstrapious above https://bootstrapious.com/p/transparent-navbar << */

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid #555;
  border-radius: .25rem;
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .1);
  background-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .1);
}

.padding.px-4.px-lg-0.bg-light {
  padding-top: 50px;
}

.paddingDetail {
  padding-top: 60px;
}

.navbar-brand.brand-style {
  color: #555;
}


.cart-text-info {
    color: black !important;
    border-radius: 25px;
    background-color: white;
}


/*  -------------------------------------- From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ - adding arrow pointer at top of toast */
/* color codes from bootstrap CSS  */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #B7A986 !important;
}



.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --------------------------------- Allauth form formatting */

/*  --------------------- Login page */
.allauth {
    background: white;
}
/* ------------------ form formatting */


.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- image widget - adventure edit form*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* --------------------------------- homepage */
img.img-fluid.logo {
    width: 50rem;
}


/*  greyscale bootstrap themem*/ 
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("/media/homepage_background_cropped.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}






/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 10rem;
        padding-bottom: calc(15rem - 4.5rem);
        background:linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.4) 100%), url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
        /* background: url('/media/EM_home_logo.png') no-repeat center;*/
        height: 800px;
        background-size: cover;
        margin-bottom: 4.5rem;
        height: 90vh;
    }
    .contact-header-container {
        padding-top: 10rem;
        padding-bottom: calc(15rem - 4.5rem);
        background:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('/media/contact-bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    .about-header-container {
        padding-top: 10rem;
        padding-bottom: calc(15rem - 4.5rem);
        background:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('/media/about-bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    .blog-header-container {
        padding-top: 10rem;
        padding-bottom: calc(15rem - 4.5rem);
        background:linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.4) 100%), url('/media/header-bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    .adventures-header-container {
        padding-top: 10rem;
        padding-bottom: calc(15rem - 4.5rem);
        background:linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.4) 100%), url('/media/adventure.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    .container {
    max-width: 100%;
  }

}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 10rem;
        padding-bottom: calc(10rem - 4.5rem);
        background-size: cover;
        padding-top: 10rem;
    }
  

    body {
        height: calc(100vh - 116px);
    }
    .navbar {
        background: #fff;
        color: #000;
    }

    img.nav_logo_mobile{
    display:inline;
    width: 2rem;
    }

    img.nav_logo{
    display:none;
    }

    .container {
    max-width: 100%;
  }

    .navbar .navbar-brand {
        color: #555;
        background-image:url('/static/images/5.png');
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #555;
    }

}

/* -------------------------------- Footer */

footer.page-footer.font-small.footer-color.pt-4 {
    background-color: #b7a986;
    color: white !important;
}

