{% load static %}
<header>
    <div class="container h-200">
            <div class="row h-200">
                <div class="my-auto mx-auto">
                    <h1 class="display-4 logo-font text-black">
                        Start your adventure today 
                    </h1>
                    <div class="my-5">
                                    <div class="col-12 col-lg-12 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'adventures' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Explore more adventures">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                    </div>
                </div>
            </div>
        </div>
</header>