{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="nav_logo" src= "https://explore-more-adventures-ms4.s3-eu-west-1.amazonaws.com/static/images/4.png">
            <img class="nav_logo_mobile" src="{% static 'images/5.png' %}">
            <strong> Explore More</strong>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="all-adventures-link" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Adventures
                    </a>

                    <div class="dropdown-menu border-0" aria-labelledby="all-adventures-link">
                        <a href="{% url 'adventures' %}" class="dropdown-item">All Adventures</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_adventure_package' %}" class="dropdown-item">Adventure Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-luggage-cart"></i>
                        {% if per_id_count > 0 %}
                            <label id="cart-label" class="badge badge-info">{{ per_id_count }}</label>
                        {% endif %}
                    </a>
                </li> -->
                <li class="list-inline-item">
                    <a class="{% if grand_total %}cart-text-info font-weight-bold{% else %}{% endif %} nav-link"
                        href="{% url 'view_bag' %}">
                        <div class="text-center">
                            <div><i class="fas fa-luggage-cart fa-lg"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                ‎${{ grand_total|floatformat:2 }}
                                {% else %}
                                ‎$0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>