{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container blog-header-container">
        <div class="row">
            <div class="col">
                {% include 'includes/main-header.html' %}
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Detail of Blog</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                    <a href="{% url 'adventures' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Check out our adventures today</span>
                    </a>
            </div>
        </div>
    </div>
{% endblock %}