{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_header %}
    <div class="container blog-header-container">
        <div class="row">
            <div class="col">
                {% include 'includes/headers/blog-detail-header.html' %}
            </div>
        </div>
    </div> 
{% endblock %}




{% block content %}

<!--- Blog Details --->
<div class="container-fluid">
    <div class="row mt-2 py-2">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.name }}">
        </div>
    </div>
    <div class="row py-2">
        <div class="col-sm-10 offset-sm-1 col-md-5 offset-md-2">
            <h3 class="text-dark">{{ post.title}}</h3>
             <small>{{ post.created_on | date:"d M - Y - h:i | "}}</small>
             {% if request.user.is_superuser %}
        <small class="ml-3">
            <a href="">Edit</a> |
            <a class="text-danger" href="">Delete</a>
        </small>
        {% endif %}
        </div>
    </div>
    <div class="row py-1">
        <div class=" col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {{ post.intro }}
        </div>
    </div>
    <div class="row mb-4 py-4">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {{ post.content }}
        </div>
    </div>


<!--- Comment Section--->
  <!-- Comments -->
<div class="container mb-5">
	<div class="row">
		<div class="col col-md-8 offset-md-2 mt-3">
            <div class="card">
			    <div class="card-body">
				    <h2>{{ comments.count }} comments</h2>
				    {% for comment in comments %}
				    <div class="comments" style="padding: 10px">
					    <p class="font-weight-bold">
						{{ comment.name }}
						    <span class="text-muted font-weight-normal">
                        {{ comment.created_on }}
                            </span>
					    </p>
					    {{ comment.body | linebreaks }}
					    <hr />
				    </div>
				    {% endfor %}

				<!-- Add A comment -->
				{% if new_comment %}
				<div class="alert alert-success" role="alert">
					Thank you! Your comment is awaiting moderation.
				</div>
				{% else %}
				<h4>Leave a comment</h4>
				<div class="comments" style="padding: 10px">
					<form method="post">
						{{ comment_form.as_p }} {% csrf_token %}
						<button type="submit" class="btn btn-primary btn-lg">
                        Submit Comment
                        </button>
					</form>
					{% endif %}
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
</div>





{% endblock %}