{% load static %}
    <header class="container-fluid">
        <div class="row hero blog-header-container text-center">
            <div class="col-md-12">
                <div class="row no-gutters bg-color-name-title">
                    <div class="col heading">
                        <h1 class="hero-title">Welcome to the Explore More Blog </h1>
                        <h2 class="hero-subtitle">Learn more about some exciting adventures</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>